/*color palette
background #FFFFFF
primary #000000
accent1 #0E1F7C
accent2 #7C0E0E

font-family body - PT serif, serif
font-family p - Rubik', sans-serif
*/

*{
    box-sizing: border-box;
}

/*header styling*/

header {
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    padding: 0;
  }

  .css-box-shadow{
	/*start ------------*/
	width: 100%; 
	height: [object Object]px; 
	background: #FFFFFF; 
	border: solid #BDBDBD 0; 
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1)  ; 
  }

#header .container{
    width: 100%;
}
nav {
    display: inline-block;
    width: 100%;
  }
  
nav > ul {
    list-style-type: none;
    padding: 0;
  }
  
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: #1933c7;
    text-decoration: none;
  }

.logo {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }


/*main*/

main {
    padding-top: 160px;
  }


body {
    background-color: white;
    font-family: "PT serif", serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    color: black;
  }
  
img {
    width: 100%;
}

h1, h2, h3, h4 {
    line-height: 1.5;
}

h1 {
    font-size: 2.5em;
    font-weight: 900;
    
}

h2 {
    font-size: 1.75em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
}

h4 {
    font-size: 1em;
    font-weight: 400;
}

/*nav*/
a {
    color: #0e1f7c;
    text-decoration: none; 
    transition-duration: 0.3s;
  }

a:hover
 {
  color: rgba(128, 0, 60, 0.5);
  text-decoration: none;
}
  a:visited { 
  color: #0e1f7c;
}
a:active { 
  color: #1933c7;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0 10px;
    

}


/*View Project buttons*/
.button, .button:visited {
    display: inline-block;
    background-color: #1933c7;
    color:white;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-bottom: 2px;
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8; 
    text-decoration: none;
    color: white;
    }

.button.contact {
    background-color: transparent;
    color: #1933c7;
    border: 2px solid #1933c7;
  }

.button.contact:hover {
    background-color: #1933c7;
    color: #ffffff;
    opacity: 1;
    transition: 0.2s;
  }

.button.resume {
    background-color: #7c0e0e;
    color: white; 
    margin: 10px; 
  }

/*layout styling*/

.container {
    padding: 0 15px 0 15px;
}


.row {
    margin: 25px 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#hero h1 {
    text-align: center;
    margin: 0;
    padding: 5px 0;
    display: inline-block;
    width: 100%;
}

#hero p {
    text-align: center;
    font-weight: 300;
    margin: 5px
}

#work h1 {
    padding-left: 15px;
}
.social {
    height: 48px;
    width: auto;
    margin: 10px; 
}

#contact {
    background-color: #f6f6f6;
    text-align: center;
    margin-bottom: -25px; 
}

#contact h2 {
    padding: 20px;
    margin: 5px;
}

.profilepic {
    height: 250px;
    width: auto;
    display: block;
    margin:0 auto;
    text-align:center;
    border-radius: 50%;    
}

#profilemain{
    padding-top: 130px;
}


.aboutme li {
   display: block;
}

.aboutme p, h1 {
    text-align: center;
}

#project p {
    padding: 0 50px;
}

#project h2 {
    padding: 0 50px;
}

#project h3 {
    padding: 0 50px;
}

#projectmain {
    padding-top: 130px
}

#bodyabout {
    padding-top: 50px
}


/*media queries*/
/*medium devices (640px and larger)*/
@media only screen and (min-width: 640px){
  header {
    text-align: unset;
    padding: 20px 0 10px;
  }

  .aboutme  p, h1 {
    padding: 0 150px 0 150px;
    }

  nav {
    width: auto;
    float: right;
    margin-top: 40px;
  }

  main {
    font-size: 18pxs;
  }
  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 10px;
  }


.col-md-6 {
    width:50%;
}

[class*="col-"] {
    float: left;
    padding: 0 50px;
}
nav > ul > li {
    display: inline-block;
  }
}

/*large devices (1024px and larger)*/
@media only screen and (min-width: 1024px){
    header {
      text-align: unset;
      padding: 20px 0 10px;
    }
  
    
    .aboutme  p, h1 {
      padding: 0 150px 0 150px;
      }
  
    nav {
      width: auto;
      float: right;
      margin-top: 40px;
    }
  
    main {
      font-size: 18pxs;
    }
    ul {
      list-style: none;
    }
  
    li {
      display: inline-block;
      margin-right: 10px;
    }
  
  
    .col-md-6 {
      width:50%;
     }
  
     [class*="col-"] {
      float: left;
      padding: 0 15px;
     }
   
     nav > ul > li {
      display: inline-block;
    }
    }

    .text-container {
        padding: 50px 240px;
      }